body {
	margin: 0;
}
#qzad {
	position: absolute;
	width: 100%;
	height: 520px;
	min-width: 769px;
	max-width: 1600px;
	overflow: hidden;
	background-color: #6b84a0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	.hidden{
		display: none;
	}
	.logo, .cta, .slides, .f-pagination-container, .copy, .chart{
		position:absolute;
	}
	.title{
		position:relative;
		top: 30px;
		margin:0 auto;
		width: 94.4%;
		padding-top: 6px;
		padding-bottom:6px;
		padding-left: 1.52015862525%;//23px;
		border-top: 1.5px solid white;
		border-bottom: 1.5px solid white;

		@media all and (max-width: 1000px) { 
			top:30px;
			padding-top: 12px;
			padding-bottom:12px;
			width: 88.5416666667%; //680px;
		}
		img{

			display: inline-block;
			vertical-align: middle;
			width: 25.7%;
			
			max-width: 413px;
			@media all and (max-width: 1000px) {
				width:62.7245508982%;
			}
		}
	}
	.slides{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		width: 100%;

	}
	.frame{
		position:absolute;
		width: 89.8125%;//1437px;
		height: 355px;
		top: 96px;
		left: 67px;
	    -webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
		img{
			display: block;
			width: 100%;
		}
		.copy{
			&.desktop{
					@media all and (max-width: 1000px) { 
						display: none;
					}
			}
			&.tablet{
				display: none;
				@media all and (max-width: 1000px) { 
					display: block;

				}
			}
		}
		// .copy{
		// 	float: left;
		// }
		// .chart{
		// 	float: left;
		// }
		&.f1{
			//border: 1px solid #000;
			.copy{
				width: 50.1043841336%;	
				&.tablet{
					width: 558px;
				}
			}
			.chart{
				left: 56.2282%;// 808px;
				width: 34.6555323591%;
				overflow: hidden;
				top:0;
				bottom:0;
				@media all and (max-width: 1000px) { 
					top:114px;
					left: 0;
					width: 44.4010416667%;//341px;
				}

				.f1-chart-b, .f1-chart-a{
					position:absolute;
					top:0;
				}
				.f1-chart-b{
					display: none;
				}
				
			}
			.f1-pagination-container{
				position:absolute;
				bottom:0;
				@media all and (max-width: 1000px) { 
					bottom:-10px;
				}
				a{
					display: inline-block;
					width: 40px;
					height: 8px;
					border: 1px solid white;
					&.selected{
						background-color: white;
					}
				}
			}
			.cta{
				@media all and (max-width: 1000px) { 
					top:131px;
				}

			}
		}
		&.f2{
			.copy{
				width: 42.9366736256%; //617;
				@media all and (max-width: 1000px) { 
					left: 6.11979166667%;//47px;
					width: 80.9895833333%;
				}
			}
			.chart{
				left: 50.3827418232%;// 724px;
				width: 47.0424495477% ;//676;

				@media all and (max-width: 1000px) { 
					top:65px;
					left: 6.11979166667%;//47px;
					width: 80.9895833333%;
				}
			}
			.cta{
				@media all and (max-width: 1000px) { 
					top:310px;
					left: 6.11979166667%;//47px;
					width: 45.1822916667%;
					
				}
			}
		}
		&.active {
            display: block;
        }
		&.inactive {
            display: none;
            -webkit-transition: all 0s ease;
            -o-transition: all 0s ease;
            transition: all 0s ease;
           
        }
        &.left {
            display: block;
            left: -100%;
        }
        &.right {
            display: block;
            left: 100%;
        }
	}
	.cta{
		top:293px;
		display: block;
		width: 25.0521920668%; //360px;
		border: 2px solid white;
		@media all and (max-width: 1000px) { 
			top:114px;
			left: 64.0718562874%;//423px;
			
		}
		img{
			display: block;
			width: 88.6111111111%;//319px;
			margin-top:15px;
			margin-bottom:15px;
			margin-left:6.11111111111%; //22px;
			margin-right:6.11111111111%;//22px;
			&.desktop{
					@media all and (max-width: 1000px) { 
						display: none;
					}
			}
			&.tablet{
				display: none;
				@media all and (max-width: 1000px) { 
					display: block;

				}
			}
		
		}
	}
	.nav{
		position:absolute;
		top:251px;
		width: 29px;
		height: 61px;
		display: block;
		&.hidden{
			display: none;
		}
		&.next{
			right: 2.75%;//44px;
			background: url(../images/arrow_next.png) 0 0 no-repeat;
			background-size: 100%;

		}
		&.prev{
			left: 2.75%;//44px;
			background: url(../images/arrow_prev.png) 0 0 no-repeat;
			background-size: 100%;
		}
	}
	
	.f-pagination-container{
		top:483px;
		left:43px;
		border-top:1.5px solid white;
		width: 88.9375%;
		height: 38px;
		@media all and (max-width: 1000px) { 
			
			width: 80%;
			
		}
		a{
			position:relative;
			top:13px;
			display: inline-block;
			width: 78px;
			height: 9px;
			border: 1px solid white;
			&.selected{
				background-color: white;
			}
		}
	}
	.logo{
		display: block;
		width: 3.2%;
		height: 9.8%;
		min-width: 52px;
		bottom: 13px;
		right: 2.75%;//44px;
		img{
			display: block;
			width: 100%;
		}
	}
}