// anim.scss

@-webkit-keyframes animatedBackground {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 1600px 0; 
	}
}
@-moz-keyframes animatedBackground {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1600px 0; 
	}
}
@keyframes animatedBackground {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1600px 0; 
	}
}

@-webkit-keyframes animatedBackground1050 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 1050px 0; 
	}
}
@-moz-keyframes animatedBackground1050 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1050px 0; 
	}
}
@keyframes animatedBackground1050 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1050px 0; 
	}
}

@-webkit-keyframes animatedBackground1000 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 1000px 0; 
	}
}
@-moz-keyframes animatedBackground1000 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1000px 0; 
	}
}
@keyframes animatedBackground1000 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1000px 0; 
	}
}

@-webkit-keyframes animatedBackground950 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 950px 0; 
	}
}
@-moz-keyframes animatedBackground950 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 950px 0; 
	}
}
@keyframes animatedBackground950 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 950px 0; 
	}
}

@-webkit-keyframes animatedBackground900 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 900px 0; 
	}
}
@-moz-keyframes animatedBackground900 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 900px 0; 
	}
}
@keyframes animatedBackground900 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 900px 0; 
	}
}
@-webkit-keyframes animatedBackground850 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 850px 0; 
	}
}
@-moz-keyframes animatedBackground850 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 850px 0; 
	}
}
@keyframes animatedBackground850 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 850px 0; 
	}
}

@-webkit-keyframes animatedBackground800 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 800px 0; 
	}
}
@-moz-keyframes animatedBackground800 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 800px 0; 
	}
}
@keyframes animatedBackground800 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 800px 0; 
	}
}

@-webkit-keyframes animatedBackground785 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 785px 0; 
	}
}
@-moz-keyframes animatedBackground785 {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 785px 0; 
	}
}
@keyframes animatedBackground785 {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 785px 0; 
	}
}
