// anim.scss

@-webkit-keyframes animatedBackground {
	0% { 
		background-position: 0 0;
	}
	100% { 
		background-position: 1736px 0; 
	}
}
@-moz-keyframes animatedBackground {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1736px 0; 
	}
}
@keyframes animatedBackground {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 1736px 0; 
	}
}
