@import 'fonts';

$blue: #0860AC;

@mixin breakpoint($point) {
	@if $point == 1050 {
		@media (max-width : 1100px) {
			@content; 
		}
	}
	@else if $point == 1000 {
		@media (max-width : 1050px) {
			@content; 
		}
	}
	@else if $point == 950 {
		@media (max-width : 1000px) {
			@content; 
		}
	}
	@else if $point == 900 {
		@media (max-width : 950px) {
			@content; 
		}
	}
	@else if $point == 850 {
		@media (max-width : 900px) {
			@content; 
		}
	}
	@else if $point == 800 {
		@media (max-width : 850px) {
			@content; 
		}
	}
	@else if $point == 785 {
		@media (max-width : 835px) {
			@content; 
		}
	}
}

body {
	margin: 0;
}
a {
	display: block;
	color: $blue;
	text-decoration: none;
	outline: none;
	border: none;
}
img {
	outline: none;
	border: none;
}
#qzad {
	position: absolute;
	width: 100%;
	height: 480px;
	min-width: 785px;
	max-width: 1100px;
	overflow: hidden;
	border: 1px solid $blue;
	font-family: "ge_inspira";
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background-image: url(../images/clouds.png);
	background-repeat: repeat-x;
	background-position: 0 169px;
	background-size: 1100px 100px;
	-webkit-animation: animatedBackground 40s linear infinite;
	   -moz-animation: animatedBackground 40s linear infinite;
	        animation: animatedBackground 40s linear infinite;

	@include breakpoint(1050) {
		background-size: 1050px 95px;
		-webkit-animation: animatedBackground1050 40s linear infinite;
		   -moz-animation: animatedBackground1050 40s linear infinite;
		        animation: animatedBackground1050 40s linear infinite;
	}
	@include breakpoint(1000) {
		background-size: 1000px 91px;
		-webkit-animation: animatedBackground1000 40s linear infinite;
		   -moz-animation: animatedBackground1000 40s linear infinite;
		        animation: animatedBackground1000 40s linear infinite;
	}
	@include breakpoint(950) {
		background-size: 950px 86px;
		-webkit-animation: animatedBackground950 40s linear infinite;
		   -moz-animation: animatedBackground950 40s linear infinite;
		        animation: animatedBackground950 40s linear infinite;
	}
	@include breakpoint(900) {
		background-size: 900px 82px;
		-webkit-animation: animatedBackground900 40s linear infinite;
		   -moz-animation: animatedBackground900 40s linear infinite;
		        animation: animatedBackground900 40s linear infinite;
	}
	@include breakpoint(850) {
		background-size: 850px 77px;
		-webkit-animation: animatedBackground850 40s linear infinite;
		   -moz-animation: animatedBackground850 40s linear infinite;
		        animation: animatedBackground850 40s linear infinite;
	}
	@include breakpoint(800) {
		background-size: 800px 73px;
		-webkit-animation: animatedBackground800 40s linear infinite;
		   -moz-animation: animatedBackground800 40s linear infinite;
		        animation: animatedBackground800 40s linear infinite;
	}
	@include breakpoint(785) {
		background-size: 785px 71px;
		-webkit-animation: animatedBackground785 40s linear infinite;
		   -moz-animation: animatedBackground785 40s linear infinite;
		        animation: animatedBackground785 40s linear infinite;
	}

	.instructions {
		position: absolute;
		top: 10px;
		width: 100%;
		font-size: 12px;
		text-align: center;
		color: $blue;
	}
	.items-container {
		position: absolute;
		top: 10px;
		right: 0;
		left: 0;
		height: 150px;

		@include breakpoint(950) {
			top: 25px;
		}

		ul.items {
			width: 1060px;
			height: 260px;
			margin: 0 auto;
			padding: 0;
			list-style-type: none;

			@include breakpoint(1050) {
				width: 1008px;
			}
			@include breakpoint(1000) {
				width: 960px;
			}
			@include breakpoint(950) {
				width: 912px;
				height: 240px;
			}
			@include breakpoint(900) {
				width: 864px;
			}
			@include breakpoint(850) {
				width: 816px;
			}
			@include breakpoint(800) {
				width: 768px;
			}
			@include breakpoint(785) {
				width: 750px;
			}

			li.item {
				float: left;
				width: 176px;
				height: 100%;

				&:nth-child(3) {
					width: 196px;
				}
				&:nth-child(4), &:nth-child(5) {
					width: 166px;
				}

				@include breakpoint(1050) {
					width: 168px;

					&:nth-child(3) {
						width: 187px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 158px;
					}
				}
				@include breakpoint(1000) {
					width: 160px;

					&:nth-child(3) {
						width: 178px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 151px;
					}
				}
				@include breakpoint(950) {
					width: 152px;

					&:nth-child(3) {
						width: 169px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 143px;
					}
				}
				@include breakpoint(900) {
					width: 144px;

					&:nth-child(3) {
						width: 160px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 136px;
					}
				}
				@include breakpoint(850) {
					width: 136px;

					&:nth-child(3) {
						width: 151px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 128px;
					}
				}
				@include breakpoint(800) {
					width: 128px;

					&:nth-child(3) {
						width: 142px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 120px;
					}
				}
				@include breakpoint(785) {
					width: 125px;

					&:nth-child(3) {
						width: 140px;
					}
					&:nth-child(4), &:nth-child(5) {
						width: 117px;
					}
				}

				.icon {
					height: 75px;

					@include breakpoint(950) {
						height: 60px;
					}

					&.extreme-machines {
						background: url(../images/extreme-machines.svg) no-repeat center bottom;
						background-size: 85px 74px;

						@include breakpoint(950) {
							background-size: 65px 56px;
						}
					}
					&.super-materials {
						background: url(../images/super-materials.svg) no-repeat center bottom;
						background-size: 104px 55px;

						@include breakpoint(950) {
							background-size: 80px 43px;
						}
					}
					&.industrial-internet {
						background: url(../images/industrial-internet.svg) no-repeat center bottom;
						background-size: 141px 52px;

						@include breakpoint(950) {
							background-size: 108px 40px;
						}
					}
					&.mapped-minds {
						background: url(../images/mapped-minds.svg) no-repeat center bottom;
						background-size: 68px 55px;

						@include breakpoint(950) {
							background-size: 52px 43px;
						}
					}
					&.brilliant-factories {
						background: url(../images/brilliant-factories.svg) no-repeat center bottom;
						background-size: 65px 61px;

						@include breakpoint(950) {
							background-size: 50px 47px;
						}
					}
					&.energy-everywhere {
						background: url(../images/energy-everywhere.svg) no-repeat center bottom;
						background-size: 89px 61px;

						@include breakpoint(950) {
							background-size: 68px 47px;
						}
					}
				}
				.content {
					.title {
						display: block;
						width: 100%;
						margin-top: 16px;
						color: $blue;
						font-size: 13px;
						text-align: center;
						text-transform: uppercase;

						@include breakpoint(950) {
							font-size: 12px;
						}
					}
					.text {
						display: none;
						width: 100%;
						margin-top: 6px;
						color: $blue;
						font-size: 11px;
						text-align: center;

						@include breakpoint(950) {
							font-size: 10px;
						}
					}
				}
				&.active {
					.content {
						.text {
							display: block;
						}
					}
					.line {
						position: relative;
						z-index: 101;
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						transform: scale(1);

						@include breakpoint(1050) {
							-webkit-transform: scale(.9545);
							-moz-transform: scale(.9545);
							transform: scale(.9545);
						}
						@include breakpoint(1000) {
							-webkit-transform: scale(.9090);
							-moz-transform: scale(.9090);
							transform: scale(.9090);
						}
						@include breakpoint(950) {
							-webkit-transform: scale(.8636);
							-moz-transform: scale(.8636);
							transform: scale(.8636);
						}
						@include breakpoint(900) {
							-webkit-transform: scale(.8181);
							-moz-transform: scale(.8181);
							transform: scale(.8181);
						}
						@include breakpoint(850) {
							-webkit-transform: scale(.7727);
							-moz-transform: scale(.7727);
							transform: scale(.7727);
						}
						@include breakpoint(800) {
							-webkit-transform: scale(.7272);
							-moz-transform: scale(.7272);
							transform: scale(.7272);
						}
						@include breakpoint(785) {
							-webkit-transform: scale(.7136);
							-moz-transform: scale(.7136);
							transform: scale(.7136);
						}

						&.line-1 {
							background: url(../images/lines/line-1100-01.svg) no-repeat;
							background-position: 86% 10px;
							background-size: 73px 96px;
							width: 100%;
							height: 106px;

							@include breakpoint(1050) {
								background-position: 86% 10px;
							}
							@include breakpoint(1000) {
								background-position: 86% 10px;
							}
							@include breakpoint(950) {
								background-position: 94% 0;
							}
							@include breakpoint(900) {
								background-position: 100% 0;
							}
							@include breakpoint(850) {
								background-position: 100% 0;
							}
							@include breakpoint(800) {
								background-position: 100% 0;
							}
							@include breakpoint(785) {
								background-position: 100% 0;
							}
						}
						&.line-2 {
							background: url(../images/lines/line-1100-02.svg) no-repeat;
							background-position: 50% 10px;
							background-size: 9px 48px;
							width: 100%;
							height: 58px;

							@include breakpoint(1050) {
								background-position: 50% 10px;
							}
							@include breakpoint(1000) {
								background-position: 50% 10px;
							}
							@include breakpoint(950) {
								background-position: 50% 0;
							}
							@include breakpoint(900) {
								background-position: 50% 0;
							}
							@include breakpoint(850) {
								background-position: 50% 0;
							}
							@include breakpoint(800) {
								background-position: 50% 0;
							}
							@include breakpoint(785) {
								background-position: 50% 0;
							}
						}
						&.line-3 {
							background: url(../images/lines/line-1100-03.svg) no-repeat;
							background-position: 60% 10px;
							background-size: 31px 52px;
							width: 100%;
							height: 72px;

							@include breakpoint(1050) {
								background-position: 60% 10px;
							}
							@include breakpoint(1000) {
								background-position: 60% 10px;
							}
							@include breakpoint(950) {
								background-position: 60% 0;
							}
							@include breakpoint(900) {
								background-position: 60% 0;
							}
							@include breakpoint(850) {
								background-position: 60% 0;
							}
							@include breakpoint(800) {
								background-position: 60% 0;
							}
							@include breakpoint(785) {
								background-position: 60% 0;
							}
						}
						&.line-4 {
							background: url(../images/lines/line-1100-04.svg) no-repeat;
							background-position: 50% 10px;
							background-size: 9px 64px;
							width: 100%;
							height: 74px;

							@include breakpoint(1050) {
								background-position: 50% 10px;
							}
							@include breakpoint(1000) {
								background-position: 50% 10px;
							}
							@include breakpoint(950) {
								background-position: 50% 0;
							}
							@include breakpoint(900) {
								background-position: 50% 0;
							}
							@include breakpoint(850) {
								background-position: 50% 0;
							}
							@include breakpoint(800) {
								background-position: 50% 0;
							}
							@include breakpoint(785) {
								background-position: 50% 0;
							}
						}
						&.line-5 {
							background: url(../images/lines/line-1100-05.svg) no-repeat;
							background-position: 50% 10px;
							background-size: 9px 64px;
							width: 100%;
							height: 74px;

							@include breakpoint(1050) {
								background-position: 50% 10px;
							}
							@include breakpoint(1000) {
								background-position: 50% 10px;
							}
							@include breakpoint(950) {
								background-position: 50% 0;
							}
							@include breakpoint(900) {
								background-position: 50% 0;
							}
							@include breakpoint(850) {
								background-position: 50% 0;
							}
							@include breakpoint(800) {
								background-position: 50% 0;
							}
							@include breakpoint(785) {
								background-position: 50% 0;
							}
						}
						&.line-6 {
							background: url(../images/lines/line-1100-06.svg) no-repeat;
							background-position: 28% 10px;
							background-size: 60px 91px;
							width: 100%;
							height: 101px;

							@include breakpoint(1050) {
								background-position: 28% 10px;
							}
							@include breakpoint(1000) {
								background-position: 28% 10px;
							}
							@include breakpoint(950) {
								background-position: 20% 0;
							}
							@include breakpoint(900) {
								background-position: 20% 0;
							}
							@include breakpoint(850) {
								background-position: 20% 0;
							}
							@include breakpoint(800) {
								background-position: 20% 0;
							}
							@include breakpoint(785) {
								background-position: 20% 0;
							}
						}
					}
				}
			}
		}
	}
		
	.wrapper {
		position: absolute;
		right: 0;
		bottom: 72px;
		left: 0;

		@include breakpoint(1050) {
			bottom: 75px;
		}
		@include breakpoint(1000) {
			bottom: 79px;
		}
		@include breakpoint(950) {
			bottom: 83px;
		}
		@include breakpoint(900) {
			bottom: 88px;
		}
		@include breakpoint(850) {
			bottom: 93px;
		}
		@include breakpoint(800) {
			bottom: 99px;
		}
		@include breakpoint(785) {
			bottom: 100px;
		}

		.container {
			position: relative;
			margin: 0 auto;
			width: 1100px;
			height: 250px;
			background: url(../images/bg.png) no-repeat center center;
			background-size: 100% auto;

			@include breakpoint(1050) {
				width: 1050px;
			}
			@include breakpoint(1000) {
				width: 1000px;
			}
			@include breakpoint(950) {
				width: 950px;
			}
			@include breakpoint(900) {
				width: 900px;
			}
			@include breakpoint(850) {
				width: 850px;
			}
			@include breakpoint(800) {
				width: 800px;
			}
			@include breakpoint(785) {
				width: 785px;
			}

			.wind {
				position: absolute;
				z-index: 101;
				-webkit-animation:spin 4s linear infinite;
			       -moz-animation:spin 4s linear infinite;
			            animation:spin 4s linear infinite;

			    &.wind-1 {
					top: 100px;
					left: 826px;
					-webkit-transform-origin:38.52% 55.23%;
					        transform-origin:38.52% 55.23%;

					@include breakpoint(1050) {
						top: 101px;
						left: 788px;
					}
					@include breakpoint(1000) {
						top: 103px;
						left: 750px;
					}
					@include breakpoint(950) {
						top: 103px;
						left: 713px;
					}
					@include breakpoint(900) {
						top: 103px;
						left: 675px;
					}
					@include breakpoint(850) {
						top: 104px;
						left: 637px;
					}
					@include breakpoint(800) {
						top: 104px;
						left: 599px;
					}
					@include breakpoint(785) {
						top: 105px;
						left: 588px;
					}
			    }
			    &.wind-2 {
			    	top: 107px;
					left: 854px;
			    	-webkit-transform-origin:64.57% 47.51%;
					        transform-origin:64.57% 47.51%;

					@include breakpoint(1050) {
						top: 107px;
						left: 814px;
					}
					@include breakpoint(1000) {
						top: 107px;
						left: 775px;
					}
					@include breakpoint(950) {
						top: 108px;
						left: 736px;
					}
					@include breakpoint(900) {
						top: 108px;
						left: 696px;
					}
					@include breakpoint(850) {
						top: 109px;
						left: 656px;
					}
					@include breakpoint(800) {
						top: 109px;
						left: 617px;
					}
					@include breakpoint(785) {
						top: 109px;
						left: 605px;
					}
			    }
			    &.wind-3 {
			    	top: 96px;
					left: 905px;
			    	-webkit-transform-origin:36.99% 53.40%;
					        transform-origin:36.99% 53.40%;

					@include breakpoint(1050) {
						top: 96px;
						left: 863px;
					}
					@include breakpoint(1000) {
						top: 96px;
						left: 821px;
					}
					@include breakpoint(950) {
						top: 97px;
						left: 780px;
					}
					@include breakpoint(900) {
						top: 97px;
						left: 738px;
					}
					@include breakpoint(850) {
						top: 98px;
						left: 697px;
					}
					@include breakpoint(800) {
						top: 98px;
						left: 655px;
					}
					@include breakpoint(785) {
						top: 98px;
						left: 643px;
					}
			    }
			}
			.waves {
				position: absolute;
				top: 57.80%;
				left: 11.82%;
				
				-webkit-transform: scale(1);
				   -moz-transform: scale(1);
					    transform: scale(1);
				-webkit-animation:waves 6s linear infinite;
			       -moz-animation:waves 6s linear infinite;
			            animation:waves 6s linear infinite;

				@include breakpoint(1050) {
					top: 57.80%;
					left: 10.82%;
					-webkit-transform: scale(.9545);
					-moz-transform: scale(.9545);
					transform: scale(.9545);

					-webkit-animation:waves1050 6s linear infinite;
				       -moz-animation:waves1050 6s linear infinite;
				            animation:waves1050 6s linear infinite;
				}
				@include breakpoint(1000) {
					top: 56.80%;
					left: 9.82%;
					-webkit-transform: scale(.9090);
					-moz-transform: scale(.9090);
					transform: scale(.9090);

					-webkit-animation:waves1000 6s linear infinite;
				       -moz-animation:waves1000 6s linear infinite;
				            animation:waves1000 6s linear infinite;
				}
				@include breakpoint(950) {
					top: 56.30%;
					left: 8.82%;
					-webkit-transform: scale(.8636);
					-moz-transform: scale(.8636);
					transform: scale(.8636);

					-webkit-animation:waves950 6s linear infinite;
				       -moz-animation:waves950 6s linear infinite;
				            animation:waves950 6s linear infinite;
				}
				@include breakpoint(900) {
					top: 55.80%;
					left: 8.32%;
					-webkit-transform: scale(.8181);
					-moz-transform: scale(.8181);
					transform: scale(.8181);

					-webkit-animation:waves900 6s linear infinite;
				       -moz-animation:waves900 6s linear infinite;
				            animation:waves900 6s linear infinite;
				}
				@include breakpoint(850) {
					top: 54.80%;
					left: 7.32%;
					-webkit-transform: scale(.7727);
					-moz-transform: scale(.7727);
					transform: scale(.7727);

					-webkit-animation:waves850 6s linear infinite;
				       -moz-animation:waves850 6s linear infinite;
				            animation:waves850 6s linear infinite;
				}
				@include breakpoint(800) {
					top: 53.80%;
					left: 6.32%;
					-webkit-transform: scale(.7272);
					-moz-transform: scale(.7272);
					transform: scale(.7272);

					-webkit-animation:waves800 6s linear infinite;
				       -moz-animation:waves800 6s linear infinite;
				            animation:waves800 6s linear infinite;
				}
				@include breakpoint(785) {
					top: 53.30%;
					left: 5.82%;
					-webkit-transform: scale(.7136);
					-moz-transform: scale(.7136);
					transform: scale(.7136);

					-webkit-animation:waves785 6s linear infinite;
				       -moz-animation:waves785 6s linear infinite;
				            animation:waves785 6s linear infinite;
				}
			}
		}
	}
	.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 72px;

		.footer-container {
			width: 750px;
			height: 100%;
			margin: 0 auto;

			.left {
				float: left;
				width: 310px;
				height: 40px;
				margin-top: 17px;
				border-right: 1px solid rgba(68, 136, 200, .5);
				box-sizing: border-box;

				img {
					margin: 0 20px 0 0;
					float: right;
				}
				.tagline {
					display: block;
					font-size: 38px;
					height: 100%;
					line-height: 40px;
					float: right;
					padding-right: 28px;
				}
			}
			.right {
				float: right;
				width: 439px;
				height: 40px;
				margin-top: 17px;
				padding-left: 28px;
				line-height: 40px;
				font-size: 19px;
				box-sizing: border-box;
			}
		}
	}
}

@-webkit-keyframes animatedBackground {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 1100px 169px; 
	}
}
@-moz-keyframes animatedBackground {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1100px 169px; 
	}
}
@keyframes animatedBackground {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1100px 169px; 
	}
}

@-webkit-keyframes animatedBackground1050 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 1050px 169px; 
	}
}
@-moz-keyframes animatedBackground1050 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1050px 169px; 
	}
}
@keyframes animatedBackground1050 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1050px 169px; 
	}
}

@-webkit-keyframes animatedBackground1000 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 1000px 169px; 
	}
}
@-moz-keyframes animatedBackground1000 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1000px 169px; 
	}
}
@keyframes animatedBackground1000 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 1000px 169px; 
	}
}

@-webkit-keyframes animatedBackground950 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 950px 169px; 
	}
}
@-moz-keyframes animatedBackground950 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 950px 169px; 
	}
}
@keyframes animatedBackground950 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 950px 169px; 
	}
}

@-webkit-keyframes animatedBackground900 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 900px 169px; 
	}
}
@-moz-keyframes animatedBackground900 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 900px 169px; 
	}
}
@keyframes animatedBackground900 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 900px 169px; 
	}
}
@-webkit-keyframes animatedBackground850 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 850px 169px; 
	}
}
@-moz-keyframes animatedBackground850 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 850px 169px; 
	}
}
@keyframes animatedBackground850 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 850px 169px; 
	}
}

@-webkit-keyframes animatedBackground800 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 800px 169px; 
	}
}
@-moz-keyframes animatedBackground800 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 800px 169px; 
	}
}
@keyframes animatedBackground800 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 800px 169px; 
	}
}

@-webkit-keyframes animatedBackground785 {
	0% { 
		background-position: 0 169px;
	}
	100% { 
		background-position: 785px 169px; 
	}
}
@-moz-keyframes animatedBackground785 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 785px 169px; 
	}
}
@keyframes animatedBackground785 {
	0% { 
		background-position: 0 169px; 
	}
	100% { 
		background-position: 785px 169px; 
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg); 
	} 
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg); 
	} 
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}

@-webkit-keyframes waves {
	0% {
		top: 57.80%;
		left: 11.82%;	
	}
	20% {
		top: 59.80%;
		left: 11.09%;	
	}
	30% {
		top: 57.80%;
		left: 10.90%;	
	}
	40% {
		top: 54.80%;
		left: 11.09%;	
	}
	50% {
		top: 57.80%;
		left: 11.82%;	
	}
	60% {
		top: 59.80%;
		left: 12.54%;	
	}
	70% {
		top: 57.80%;
		left: 12.73%;	
	}
	80% {
		top: 54.80%;
		left: 12.54%;	
	}
	100% {
		top: 57.80%;
		left: 11.82%;	
	}  
}
@-webkit-keyframes waves1050 {
	0% {
		top: 57.80%;
		left: 10.82%;	
	}
	20% {
		top: 59.80%;
		left: 10.09%;	
	}
	30% {
		top: 57.80%;
		left: 9.90%;	
	}
	40% {
		top: 54.80%;
		left: 10.09%;	
	}
	50% {
		top: 57.80%;
		left: 10.82%;	
	}
	60% {
		top: 59.80%;
		left: 11.54%;	
	}
	70% {
		top: 57.80%;
		left: 11.73%;	
	}
	80% {
		top: 54.80%;
		left: 11.54%;	
	}
	100% {
		top: 57.80%;
		left: 10.82%;	
	}  
}
@-webkit-keyframes waves1000 {
	0% {
		top: 56.80%;
		left: 9.82%;	
	}
	20% {
		top: 58.80%;
		left: 9.09%;	
	}
	30% {
		top: 56.80%;
		left: 8.90%;	
	}
	40% {
		top: 53.80%;
		left: 9.09%;	
	}
	50% {
		top: 56.80%;
		left: 9.82%;	
	}
	60% {
		top: 58.80%;
		left: 10.54%;	
	}
	70% {
		top: 56.80%;
		left: 10.73%;	
	}
	80% {
		top: 53.80%;
		left: 10.54%;	
	}
	100% {
		top: 56.80%;
		left: 9.82%;	
	}  
}
@-webkit-keyframes waves950 {
	0% {
		top: 56.30%;
		left: 8.82%;	
	}
	20% {
		top: 58.30%;
		left: 8.09%;	
	}
	30% {
		top: 56.30%;
		left: 7.90%;	
	}
	40% {
		top: 53.30%;
		left: 8.09%;	
	}
	50% {
		top: 56.30%;
		left: 8.82%;	
	}
	60% {
		top: 58.30%;
		left: 9.54%;	
	}
	70% {
		top: 56.30%;
		left: 9.73%;	
	}
	80% {
		top: 53.30%;
		left: 9.54%;	
	}
	100% {
		top: 56.30%;
		left: 8.82%;	
	}  
}
@-webkit-keyframes waves900 {
	0% {
		top: 55.80%;
		left: 8.32%;	
	}
	20% {
		top: 57.80%;
		left: 7.59%;	
	}
	30% {
		top: 55.80%;
		left: 7.40%;	
	}
	40% {
		top: 52.80%;
		left: 7.59%;	
	}
	50% {
		top: 55.80%;
		left: 8.32%;	
	}
	60% {
		top: 57.80%;
		left: 9.04%;	
	}
	70% {
		top: 55.80%;
		left: 9.23%;	
	}
	80% {
		top: 52.80%;
		left: 9.04%;	
	}
	100% {
		top: 55.80%;
		left: 8.32%;	
	}  
}
@-webkit-keyframes waves850 {
	0% {
		top: 54.80%;
		left: 7.32%;	
	}
	20% {
		top: 56.80%;
		left: 6.59%;	
	}
	30% {
		top: 54.80%;
		left: 6.40%;	
	}
	40% {
		top: 51.80%;
		left: 6.59%;	
	}
	50% {
		top: 54.80%;
		left: 7.32%;	
	}
	60% {
		top: 56.80%;
		left: 8.04%;	
	}
	70% {
		top: 54.80%;
		left: 8.23%;	
	}
	80% {
		top: 51.80%;
		left: 8.04%;	
	}
	100% {
		top: 54.80%;
		left: 7.32%;	
	}  
}
@-webkit-keyframes waves800 {
	0% {
		top: 53.80%;
		left: 6.32%;	
	}
	20% {
		top: 55.80%;
		left: 5.59%;	
	}
	30% {
		top: 53.80%;
		left: 5.40%;	
	}
	40% {
		top: 50.80%;
		left: 5.59%;	
	}
	50% {
		top: 53.80%;
		left: 6.32%;	
	}
	60% {
		top: 55.80%;
		left: 7.04%;	
	}
	70% {
		top: 53.80%;
		left: 7.23%;	
	}
	80% {
		top: 50.80%;
		left: 7.04%;	
	}
	100% {
		top: 53.80%;
		left: 6.32%;	
	}  
}
@-webkit-keyframes waves785 {
	0% {
		top: 53.30%;
		left: 5.82%;	
	}
	20% {
		top: 55.30%;
		left: 5.09%;	
	}
	30% {
		top: 53.30%;
		left: 4.90%;	
	}
	40% {
		top: 50.30%;
		left: 5.09%;	
	}
	50% {
		top: 53.30%;
		left: 5.82%;	
	}
	60% {
		top: 55.30%;
		left: 6.54%;	
	}
	70% {
		top: 53.30%;
		left: 6.73%;	
	}
	80% {
		top: 50.30%;
		left: 6.54%;	
	}
	100% {
		top: 53.30%;
		left: 5.82%;	
	}  
}
@-moz-keyframes waves {
	0% {
		top: 57.80%;
		left: 11.82%;	
	}
	20% {
		top: 59.80%;
		left: 11.09%;	
	}
	30% {
		top: 57.80%;
		left: 10.90%;	
	}
	40% {
		top: 54.80%;
		left: 11.09%;	
	}
	50% {
		top: 57.80%;
		left: 11.82%;	
	}
	60% {
		top: 59.80%;
		left: 12.54%;	
	}
	70% {
		top: 57.80%;
		left: 12.73%;	
	}
	80% {
		top: 54.80%;
		left: 12.54%;	
	}
	100% {
		top: 57.80%;
		left: 11.82%;	
	}  
}
@-moz-keyframes waves1050 {
	0% {
		top: 57.80%;
		left: 10.82%;	
	}
	20% {
		top: 59.80%;
		left: 10.09%;	
	}
	30% {
		top: 57.80%;
		left: 9.90%;	
	}
	40% {
		top: 54.80%;
		left: 10.09%;	
	}
	50% {
		top: 57.80%;
		left: 10.82%;	
	}
	60% {
		top: 59.80%;
		left: 11.54%;	
	}
	70% {
		top: 57.80%;
		left: 11.73%;	
	}
	80% {
		top: 54.80%;
		left: 11.54%;	
	}
	100% {
		top: 57.80%;
		left: 10.82%;	
	}  
}
@-moz-keyframes waves1000 {
	0% {
		top: 56.80%;
		left: 9.82%;	
	}
	20% {
		top: 58.80%;
		left: 9.09%;	
	}
	30% {
		top: 56.80%;
		left: 8.90%;	
	}
	40% {
		top: 53.80%;
		left: 9.09%;	
	}
	50% {
		top: 56.80%;
		left: 9.82%;	
	}
	60% {
		top: 58.80%;
		left: 10.54%;	
	}
	70% {
		top: 56.80%;
		left: 10.73%;	
	}
	80% {
		top: 53.80%;
		left: 10.54%;	
	}
	100% {
		top: 56.80%;
		left: 9.82%;	
	}  
}
@-moz-keyframes waves950 {
	0% {
		top: 56.30%;
		left: 8.82%;	
	}
	20% {
		top: 58.30%;
		left: 8.09%;	
	}
	30% {
		top: 56.30%;
		left: 7.90%;	
	}
	40% {
		top: 53.30%;
		left: 8.09%;	
	}
	50% {
		top: 56.30%;
		left: 8.82%;	
	}
	60% {
		top: 58.30%;
		left: 9.54%;	
	}
	70% {
		top: 56.30%;
		left: 9.73%;	
	}
	80% {
		top: 53.30%;
		left: 9.54%;	
	}
	100% {
		top: 56.30%;
		left: 8.82%;	
	}  
}
@-moz-keyframes waves900 {
	0% {
		top: 55.80%;
		left: 8.32%;	
	}
	20% {
		top: 57.80%;
		left: 7.59%;	
	}
	30% {
		top: 55.80%;
		left: 7.40%;	
	}
	40% {
		top: 52.80%;
		left: 7.59%;	
	}
	50% {
		top: 55.80%;
		left: 8.32%;	
	}
	60% {
		top: 57.80%;
		left: 9.04%;	
	}
	70% {
		top: 55.80%;
		left: 9.23%;	
	}
	80% {
		top: 52.80%;
		left: 9.04%;	
	}
	100% {
		top: 55.80%;
		left: 8.32%;	
	}  
}
@-moz-keyframes waves850 {
	0% {
		top: 54.80%;
		left: 7.32%;	
	}
	20% {
		top: 56.80%;
		left: 6.59%;	
	}
	30% {
		top: 54.80%;
		left: 6.40%;	
	}
	40% {
		top: 51.80%;
		left: 6.59%;	
	}
	50% {
		top: 54.80%;
		left: 7.32%;	
	}
	60% {
		top: 56.80%;
		left: 8.04%;	
	}
	70% {
		top: 54.80%;
		left: 8.23%;	
	}
	80% {
		top: 51.80%;
		left: 8.04%;	
	}
	100% {
		top: 54.80%;
		left: 7.32%;	
	}  
}
@-moz-keyframes waves800 {
	0% {
		top: 53.80%;
		left: 6.32%;	
	}
	20% {
		top: 55.80%;
		left: 5.59%;	
	}
	30% {
		top: 53.80%;
		left: 5.40%;	
	}
	40% {
		top: 50.80%;
		left: 5.59%;	
	}
	50% {
		top: 53.80%;
		left: 6.32%;	
	}
	60% {
		top: 55.80%;
		left: 7.04%;	
	}
	70% {
		top: 53.80%;
		left: 7.23%;	
	}
	80% {
		top: 50.80%;
		left: 7.04%;	
	}
	100% {
		top: 53.80%;
		left: 6.32%;	
	}  
}
@-moz-keyframes waves785 {
	0% {
		top: 53.30%;
		left: 5.82%;	
	}
	20% {
		top: 55.30%;
		left: 5.09%;	
	}
	30% {
		top: 53.30%;
		left: 4.90%;	
	}
	40% {
		top: 50.30%;
		left: 5.09%;	
	}
	50% {
		top: 53.30%;
		left: 5.82%;	
	}
	60% {
		top: 55.30%;
		left: 6.54%;	
	}
	70% {
		top: 53.30%;
		left: 6.73%;	
	}
	80% {
		top: 50.30%;
		left: 6.54%;	
	}
	100% {
		top: 53.30%;
		left: 5.82%;	
	}  
}
@keyframes waves {
	0% {
		top: 57.80%;
		left: 11.82%;	
	}
	20% {
		top: 59.80%;
		left: 11.09%;	
	}
	30% {
		top: 57.80%;
		left: 10.90%;	
	}
	40% {
		top: 54.80%;
		left: 11.09%;	
	}
	50% {
		top: 57.80%;
		left: 11.82%;	
	}
	60% {
		top: 59.80%;
		left: 12.54%;	
	}
	70% {
		top: 57.80%;
		left: 12.73%;	
	}
	80% {
		top: 54.80%;
		left: 12.54%;	
	}
	100% {
		top: 57.80%;
		left: 11.82%;	
	}  
}
@keyframes waves1050 {
	0% {
		top: 57.80%;
		left: 10.82%;	
	}
	20% {
		top: 59.80%;
		left: 10.09%;	
	}
	30% {
		top: 57.80%;
		left: 9.90%;	
	}
	40% {
		top: 54.80%;
		left: 10.09%;	
	}
	50% {
		top: 57.80%;
		left: 10.82%;	
	}
	60% {
		top: 59.80%;
		left: 11.54%;	
	}
	70% {
		top: 57.80%;
		left: 11.73%;	
	}
	80% {
		top: 54.80%;
		left: 11.54%;	
	}
	100% {
		top: 57.80%;
		left: 10.82%;	
	}  
}
@keyframes waves1000 {
	0% {
		top: 56.80%;
		left: 9.82%;	
	}
	20% {
		top: 58.80%;
		left: 9.09%;	
	}
	30% {
		top: 56.80%;
		left: 8.90%;	
	}
	40% {
		top: 53.80%;
		left: 9.09%;	
	}
	50% {
		top: 56.80%;
		left: 9.82%;	
	}
	60% {
		top: 58.80%;
		left: 10.54%;	
	}
	70% {
		top: 56.80%;
		left: 10.73%;	
	}
	80% {
		top: 53.80%;
		left: 10.54%;	
	}
	100% {
		top: 56.80%;
		left: 9.82%;	
	}  
}
@keyframes waves950 {
	0% {
		top: 56.30%;
		left: 8.82%;	
	}
	20% {
		top: 58.30%;
		left: 8.09%;	
	}
	30% {
		top: 56.30%;
		left: 7.90%;	
	}
	40% {
		top: 53.30%;
		left: 8.09%;	
	}
	50% {
		top: 56.30%;
		left: 8.82%;	
	}
	60% {
		top: 58.30%;
		left: 9.54%;	
	}
	70% {
		top: 56.30%;
		left: 9.73%;	
	}
	80% {
		top: 53.30%;
		left: 9.54%;	
	}
	100% {
		top: 56.30%;
		left: 8.82%;	
	}  
}
@keyframes waves900 {
	0% {
		top: 55.80%;
		left: 8.32%;	
	}
	20% {
		top: 57.80%;
		left: 7.59%;	
	}
	30% {
		top: 55.80%;
		left: 7.40%;	
	}
	40% {
		top: 52.80%;
		left: 7.59%;	
	}
	50% {
		top: 55.80%;
		left: 8.32%;	
	}
	60% {
		top: 57.80%;
		left: 9.04%;	
	}
	70% {
		top: 55.80%;
		left: 9.23%;	
	}
	80% {
		top: 52.80%;
		left: 9.04%;	
	}
	100% {
		top: 55.80%;
		left: 8.32%;	
	}  
}
@keyframes waves850 {
	0% {
		top: 54.80%;
		left: 7.32%;	
	}
	20% {
		top: 56.80%;
		left: 6.59%;	
	}
	30% {
		top: 54.80%;
		left: 6.40%;	
	}
	40% {
		top: 51.80%;
		left: 6.59%;	
	}
	50% {
		top: 54.80%;
		left: 7.32%;	
	}
	60% {
		top: 56.80%;
		left: 8.04%;	
	}
	70% {
		top: 54.80%;
		left: 8.23%;	
	}
	80% {
		top: 51.80%;
		left: 8.04%;	
	}
	100% {
		top: 54.80%;
		left: 7.32%;	
	}  
}
@keyframes waves800 {
	0% {
		top: 53.80%;
		left: 6.32%;	
	}
	20% {
		top: 55.80%;
		left: 5.59%;	
	}
	30% {
		top: 53.80%;
		left: 5.40%;	
	}
	40% {
		top: 50.80%;
		left: 5.59%;	
	}
	50% {
		top: 53.80%;
		left: 6.32%;	
	}
	60% {
		top: 55.80%;
		left: 7.04%;	
	}
	70% {
		top: 53.80%;
		left: 7.23%;	
	}
	80% {
		top: 50.80%;
		left: 7.04%;	
	}
	100% {
		top: 53.80%;
		left: 6.32%;	
	}  
}
@keyframes waves785 {
	0% {
		top: 53.30%;
		left: 5.82%;	
	}
	20% {
		top: 55.30%;
		left: 5.09%;	
	}
	30% {
		top: 53.30%;
		left: 4.90%;	
	}
	40% {
		top: 50.30%;
		left: 5.09%;	
	}
	50% {
		top: 53.30%;
		left: 5.82%;	
	}
	60% {
		top: 55.30%;
		left: 6.54%;	
	}
	70% {
		top: 53.30%;
		left: 6.73%;	
	}
	80% {
		top: 50.30%;
		left: 6.54%;	
	}
	100% {
		top: 53.30%;
		left: 5.82%;	
	}  
}