body { margin: 0; }

#qzad { position: absolute; width: 320px; height: 150px; overflow: hidden; background-color: white; border: 1px solid #ccc; box-sizing: border-box; }
#qzad .arrow { width: 40px; height: 40px; }
#qzad .arrow img { margin-top: 16px; margin-left: 16px; height: 7px; }
#qzad .arrow.arrow-left { display: none; position: absolute; z-index: 201; top: 55px; left: 0; }
#qzad .arrow.arrow-right { position: absolute; z-index: 201; top: 55px; right: 0; }
#qzad .content { position: absolute; top: 0; left: 0; width: 903px; height: 150px; background-image: url(../images/bg.png); background-repeat: no-repeat; background-size: auto 150px; background-position: 115px 0; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
#qzad .content .frame { opacity: 0; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
#qzad .content .frame.show { opacity: 1; }
#qzad .content .frame.zero { position: absolute; top: 10px; left: 15px; width: 176px; }
#qzad .content .frame.zero img { width: 100%; }
#qzad .content .frame.one { position: absolute; top: 12px; left: 197px; }
#qzad .content .frame.one .extreme-machines { position: absolute; top: 2px; width: 54px; }
#qzad .content .frame.one .extreme-machines svg { width: 100%; }
#qzad .content .frame.one img.text { position: absolute; top: 0; left: 70px; width: 145px; }
#qzad .content .frame.two { position: absolute; top: 12px; left: 300px; }
#qzad .content .frame.two .super-materials { position: absolute; top: 6px; width: 73px; }
#qzad .content .frame.two .super-materials svg { width: 100%; }
#qzad .content .frame.two .super-materials svg .wings { -webkit-perspective: 1000px; -moz-perspective: 1000px; }
#qzad .content .frame.two .super-materials svg .wings .left-wing { -webkit-transform: rotateY(0deg); -moz-transform: rotateY(0deg); transform: rotateY(0deg); -webkit-transform-origin: 100% 50%; -moz-transform-origin: 100% 50%; transform-origin: 100% 50%; }
#qzad .content .frame.two .super-materials svg .wings .left-wing.animate { -webkit-animation: animateWings 1s ease-in-out infinite; -moz-animation: animateWings 1s ease-in-out infinite; animation: animateWings 1s ease-in-out infinite; }
#qzad .content .frame.two .super-materials svg .wings .right-wing { -webkit-transform: rotateY(0deg); -moz-transform: rotateY(0deg); transform: rotateY(0deg); -webkit-transform-origin: 0% 50%; -moz-transform-origin: 0% 50%; transform-origin: 0% 50%; }
#qzad .content .frame.two .super-materials svg .wings .right-wing.animate { -webkit-animation: animateWings 1s ease-in-out infinite; -moz-animation: animateWings 1s ease-in-out infinite; animation: animateWings 1s ease-in-out infinite; }
#qzad .content .frame.two img.text { position: absolute; top: 0; left: 90px; width: 130px; }
#qzad .content .frame.three { position: absolute; top: 12px; left: 410px; }
#qzad .content .frame.three .industrial-internet { position: absolute; top: 2px; width: 88px; }
#qzad .content .frame.three .industrial-internet svg { width: 100%; }
#qzad .content .frame.three img.text { position: absolute; top: 0; left: 100px; width: 188px; }
#qzad .content .frame.four { position: absolute; top: 12px; left: 532px; }
#qzad .content .frame.four .mapped-minds { position: absolute; top: 2px; width: 48px; }
#qzad .content .frame.four .mapped-minds svg { width: 100%; }
#qzad .content .frame.four img.text { position: absolute; top: 0; left: 70px; width: 157px; }
#qzad .content .frame.five { position: absolute; top: 12px; left: 650px; }
#qzad .content .frame.five .energy-everywhere { position: absolute; top: 7px; width: 69px; }
#qzad .content .frame.five .energy-everywhere svg { width: 100%; }
#qzad .content .frame.five img.text { position: absolute; top: 31px; left: 85px; width: 158px; }
#qzad .content .frame.five img.logo { position: absolute; top: 92px; left: 205px; width: 35px; }

@-webkit-keyframes animateWings { 0% { -webkit-transform: rotateY(0deg); }
  50% { -webkit-transform: rotateY(50deg); }
  100% { -webkit-transform: rotateY(0deg); } }

@-moz-keyframes animateWings { 0% { -moz-transform: rotateY(0deg); }
  50% { -moz-transform: rotateY(50deg); }
  100% { -moz-transform: rotateY(0deg); } }

@keyframes animateWings { 0% { transform: rotateY(0deg); }
  50% { transform: rotateY(50deg); }
  100% { transform: rotateY(0deg); } }
