.clearfix { zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

.hide { display: none !important; }

html, body { margin: 0; padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

span { -webkit-transition: all 100ms linear; -moz-transition: all 100ms linear; -o-transition: all 100ms linear; -ms-transition: all 100ms linear; transition: all 100ms linear; color: inherit; text-decoration: none; }
span:hover { opacity: 0.8; }
span:hover img { opacity: 0.8 !important; -webkit-animation: none; -webkit-animation-iteration-count: none; -moz-animation: none; -moz-animation-iteration-count: none; animation: none; animation-iteration-count: none; }
span.no-fade { opacity: 1.0 !important; }
span.no-fade:hover { opacity: 1.0 !important; }

ul li { list-style-type: none; padding: 0; }

img { opacity: inherit; }

#qzad { position: relative; max-width: 1100px; min-width: 700px; width: 100%; height: 480px; overflow: hidden; background-color: #000000; }
#qzad .ixtrack { display: block; width: 100%; height: 100%; }

.bg { position: absolute; bottom: 228px; width: 100%; text-align: center; }
.bg img { width: 100%; }

.line { position: absolute; bottom: 190px; border: 0; color: #A3A3A3; background-color: #A3A3A3; height: 1px; width: 80%; left: 10%; }

.read-more-about-it-here { position: absolute; left: 50%; margin-left: -144px; bottom: 188px; background-color: #000000; z-index: 4000; padding: 0 20px 0 20px; }
.read-more-about-it-here img { -webkit-animation: pulsate 2s ease-out; -webkit-animation-iteration-count: infinite; -moz-animation: pulsate 2s ease-out; -moz-animation-iteration-count: infinite; animation: pulsate 2s ease-out; animation-iteration-count: infinite; opacity: 0.8; }

.founding-partner-ge { position: absolute; left: 50%; margin-left: -63px; bottom: 28px; z-index: 4000; }

@-webkit-keyframes pulsate { 0% { opacity: 0.8; }
  50% { opacity: 1.0; }
  100% { opacity: 0.8; } }

@-moz-keyframes pulsate { 0% { opacity: 0.8; }
  50% { opacity: 1.0; }
  100% { opacity: 0.8; } }

@keyframes pulsate { 0% { opacity: 0.8; }
  50% { opacity: 1.0; }
  100% { opacity: 0.8; } }
